body {
  background-color: #505050;
  color: white;
  font-family:'Lora', serif;
}

.center-column {
  width: 800px;
  margin: auto;
  padding-top: 10px;
}

.container {
  border-bottom: 1px solid gray;
}

nav a {
  display: inline-block;
  width: 100px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25px;
  margin-top: .5em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}

nav #home {
  border-top: 2px solid white;
}

nav #home:hover {
  border-top: 2px solid #0A7E8C;
}

nav a:hover {
  border-top: 2px solid #0A7E8C;
}

h1.center-column {
  font-size: 60px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}

#info {
  display: flex;
  border-top: 2px solid white;
}

#info p {
  width: 75%;
  font-family: 'Montserrat', sans-serif;
}

#info h2 {
  width: 25%;
}
